@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
 padding: 0;
 margin: 0;
 @apply bg-gray-900;
}

:root {
  --primary-color: #e30b13;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


